src/ZStudio.D365.DeploymentTool/ConfigSchema/CrmThemeConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.zerostudioinc.com/crmdeployment/2016/themes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="themes">
    <xs:annotation>
      <xs:documentation>The collection of CRM publishers.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="theme" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>All the color value must be in hexadecimal code with the # in front. e.g. #0A12FF</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name">
                <xs:annotation>
                  <xs:documentation>Theme Name, the tool will use the name as a unique key to determine if a Theme exists.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="logo" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>The web resource name of the CRM logo to use.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="logoTooltip" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="navigationBarColor" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Store the navigation bar color, enter the color in hexadecimal code with the # in front.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="navigationBarShelfColor" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="headerColor" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="globalLinkColor" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="selectedLinkEffect" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="hoverLinkEffect" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="processControlColor" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="defaultEntityColor" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="defaultCustomEntityColor" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="controlShade" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="controlBorder" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="mainColor" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="accentColor" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="pageHeaderFillColor" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="panelHeaderFillColor" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>