pkg/ZStudio.D365.DTPkg/ZD365DT/ConfigSchema/MetadataConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.zerostudioinc.com/crmdeployment/2016/metadatas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="metadatas">
    <xs:annotation>
      <xs:documentation>The collection of metadata definition files.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="metadata">
          <xs:annotation>
            <xs:documentation>The metadata definition file.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="metadatafile">
                <xs:annotation>
                  <xs:documentation>The XML file path of the asset definition to be created/updated. Accept tokens from Execution Context.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="customizationprefix">
                <xs:annotation>
                  <xs:documentation>The customization prefix to be used when creating the asset. Accept tokens from Execution Context.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="solutionname" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>The unique name of the solution to add the asset into. Leave blank if the asset do not need to be included to any solution. Accept tokens from Execution Context.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="publish" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Set to TRUE to publish the solution. Default to true when a solution name is provided.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="value" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="languagecode" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Set the language code to be used for all the labels. Default to 1033 (English-US). This will only be in-play for CRM installed with multiple language.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="value" type="xs:int" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>